<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd1doqjmisr497k.cloudfront.net%2F-%2Fmedia%2Fmccormick-us%2Frecipes%2Fmccormick%2Ff%2F800%2Ffiesta_tacos_800x800.jpg%3Fvd%3D20180710T045435Z%26hash%3DE1A749A92C6D606DD072CC2B2AF53B66A0D3E2DC&f=1&nofb=1">
<ul>
    <li routerLink="fish">Fish Tacos</li>
    <li routerLink="beef">Beef Tacos</li>
</ul>

<p>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente modi eligendi reprehenderit quos, suscipit ab ipsa consequatur mollitia ratione molestiae assumenda expedita ducimus unde optio tenetur temporibus! Quas, et atque.</span>
    <span>Numquam qui molestiae temporibus asperiores id aspernatur natus non perspiciatis fuga, quam cupiditate laborum consequuntur fugit reiciendis. A laborum placeat numquam id voluptatem recusandae quaerat, non nam enim ab. Molestias.</span>
    <span>Doloremque, dolor? Quaerat nisi sunt vel libero deserunt quae natus! Commodi placeat non officia temporibus at animi repellat cupiditate, expedita dicta laborum cum quaerat nihil mollitia quod saepe molestiae! Ex!</span>
    <span>Error suscipit assumenda adipisci quos, ipsa molestias exercitationem, quae illum esse, repudiandae officia iste optio. Esse deserunt, delectus, sint labore ipsa inventore, harum animi numquam non tempora molestias architecto neque!</span>
</p>

<router-outlet></router-outlet>