<nav>
    <div class="container">
        <div class="row">
            <div 
                routerLink="/pokemon"
                class="col nav-item"
                >Pokemon</div>
            <div 
                routerLink="/tacos"
                class="col nav-item"
                >Tacos</div>
            <div 
                routerLink="/hamburgers"
                class="col nav-item"
                >Hamburgers</div>
            <div 
                routerLink="/pizzas"
                class="col nav-item"
                >Pizzas</div>
        </div>
    </div>
</nav>